.DS_Store
realestate_frontend/node_modules
realestate_frontend/.pnp
realestate_frontend/.pnp.js

# testing
realestate_frontend/coverage

# next.js
realestate_frontend/.next/
realestate_frontend/out/

# production
realestate_blockchain/build

# misc
realestate_frontend/.DS_Store
realestate_frontend/components/.DS_Store
realestate_frontend/public/.DS_Store
realestate_frontend/public/static/.DS_Store
realestate_frontend/public/static/image/.DS_Store
*.pem

# debug
realestate_frontend/npm-debug.log*
realestate_frontend/yarn-debug.log*
realestate_frontend/yarn-error.log*
realestate_frontend/.pnpm-debug.log*

# local env files
realestate_frontend/.env*.local

# vercel
realestate_frontend/.vercel


# Hardhat files
SmartContract_Realestate/node_modules
SmartContract_Realestate/cache
SmartContract_Realestate/artifacts
SmartContract_Realestate/.DS_Store
