.DS_Store
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out
.env
# production
realestate_blockchain/build

# misc
.DS_Store
components/.DS_Store
public/.DS_Store
public/static/.DS_Store
public/static/image/.DS_Store
prisma/migrations
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

#tsx
next-env.d.ts

# vercel
tsconfig.json

# Hardhat files

